.main-counts-low-stock {
    width: 290px;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(255, 255, 212);
    border: 1px solid rgb(212, 212, 0);
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding-left: 15px;
}
.main-counts-low-stock-logo {
  color: white;
  height: 40px;
  width: 40px;
}
.main-counts-low-stock pre {
  width: 80px;
  height: 80px;
  background-color: rgb(226, 226, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
}
.main-counts-low-stock div {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-counts-low-stock div p{
  padding: 0;
  margin: 0;
}
.main-counts-low-stock div span{
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: gray;
}
.main-counts-low-stock div h4 {
  padding: 0;
  margin: 0;
  font-size: 30px;
  color: rgb(223, 223, 0);
}